*{
    margin: 0dp;
    padding: 0dp;
    box-sizing: border-box;
}
body{
    background: #272727;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feee, #4b3bff);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}